### Frontend Files ###

# Dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/.yarn/install-state.gz

# Testing
/frontend/coverage

# Next.js build output
/frontend/.next/
/frontend/out/

# Production build
/frontend/build

# Miscellaneous files
/frontend/.DS_Store
/frontend/*.pem

# Debug logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Local environment files
/frontend/.env*.local

# Vercel deployment files
/frontend/.vercel

# TypeScript build info
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

# Environment files
/frontend/.env

### Solidity Files ###

# Foundry build output (cache and artifacts)
/smart-contracts/cache/
/smart-contracts/out/

# Exclude forge-std library (uncomment if tracked by Git)
/smart-contracts/lib/forge-std

# Ignore development broadcast logs
/smart-contracts/broadcast/

# Ignore specific broadcast logs by network ID (if necessary)
# /smart-contracts/broadcast/*/31337/
# /smart-contracts/broadcast/**/dry-run/

# Documentation
/smart-contracts/docs/

# Environment files
/smart-contracts/.env
