.withdrawBtn {
    background-color: var(--disabled-btn-color);
    color: white;
    text-transform: none;
    border-radius: 12px;
  }


  .subheaderText {
    color: var(--input-field-input-color);
    font-size: 0.8rem;
  }

  .inputField {
    background-color: #283039; color: white; border-radius: 12px;
    width: 100%;
}

.enabled {
  background: #1a81e4;
    
}