.depositBtn {
    color: white;
    text-transform: none;
    border-radius: 12px;
    margin-top: 16px;
    background-color: var(--disabled-btn-color);
  }

  .disabled {

  }

  .enabled {
    background-color: var(--enabled-btn-color); 
  }

  
.inputField {
     background-color: #283039; color: white; border-radius: 12px;
}