:root {
  --main-bg-color: #111518;
  --text-color: white;
  --enabled-btn-color: #1a81e4;
  --disabled-btn-color: #283039;
  --input-field-bg-color: #283039;
  --input-field-input-color: #787e81;
  --icon-box-bg-color: #273039;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  max-width: 640px;
  min-width: 380px;
  width: 460px;
  margin: auto;
  
}