.section {
  /* border: 2px solid green; */
  margin-bottom: 32px;
}



.withdrawAllBtn {
  background: #1a81e4;
   color: white;
   text-transform: none;
   margin-top: 16px;
   border-radius: 12px;
   width: 100%;
}

.subheaderText {
  color: var(--input-field-input-color);
}